# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment variable files
.env

# Ignore npm debug files
npm-debug.log*

# Ignore coverage directory
coverage/

# Ignore build directory
build/

# Ignore DS_Store files (macOS)
.DS_Store

# Ignore all files
*

# Except .gitignore file
!.gitignore

# Ignore all .wav files
*.wav